body {
    width: 100%;
    min-width: 510px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
}

h2 {
    font-size: 37px;
}


/* section */

section {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.s1 {
    width: 400px;
    height: 400px;
    padding: 3%;
    background-image: url("images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    box-shadow: 10px 11px 30px #666666;
}

.s1-context h3 {
    text-align: center;
    color: rgba(132, 210, 246, 1);
}

.s1-context p {
    color: #000;
}

input {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 6px;
    width: 360px;
    margin-top: 18%;
    border: 1px solid rgba(132, 210, 246, 1);
}

button {
    margin: 10px 0;
    padding: 10px;
    width: 360px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    background-color: rgba(19, 60, 85, 1);
    color: #fff;
    border: none;
}

.s2 {
    width: 400px;
    background-color: rgba(132, 210, 246, 1);
    padding: 11% 3%;
    text-align: center;
    box-shadow: 10px 11px 30px #666666;
}

.s2-context h3 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 700;
}

.s2-context p {
    margin-top: 8%;
    line-height: 1.4;
}

@media (max-width:760px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    .s2 {
        padding: 26% 3%;
        margin-top: 9%;
    }
}


/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2% 7%;
    background-color: rgba(19, 60, 85, 1);
    color: #fff;
    margin-top: 30px;
}

.landings,
.company,
.resources {
    margin: 0 12%;
}

.footer-s2 {
    display: flex;
    margin-right: 14%;
}

a {
    color: #fff;
    text-decoration: none;
}

.rights {
    margin-top: 9%;
}

@media (max-width:760px) {
    .footer {
        flex-direction: column;
    }
    .footer-s2 {
        justify-content: center;
        margin-right: 0;
    }
    .rights {
        margin-top: 4%;
    }
}